# Created by venv; see https://docs.python.org/3/library/venv.html
# 1. Archivos base del entorno virtual 
bin/
include/
lib/
lib64/
pyvenv.cfg

# 2. Caché y archivos compilados de Python 
__pycache__/
*.py[cod]
*$py.class

# 3. Archivos sensibles o de salida de tus scripts
.env
*.pcap
*.log